<footer class="footer">

  <div class="container">

    <div class="row gy-5">

      <!-- LOGO -->
      <div class="col-lg-3 col-md-6">

        <img
          *ngIf="footerData?.logo"
          [src]="imageUrl + footerData.logo"
          class="footer-logo"
          alt="Logo">

        <p class="footer-about">

          {{footerData?.tagline}}

        </p>

        <div class="footer-social">

          <a
            *ngFor="let s of footerData?.socialIcon"
            [href]="s.url"
            target="_blank">

            <i class="fa-brands fa-facebook-f"
               *ngIf="s.title=='Facebook'"></i>

            <i class="fa-brands fa-instagram"
               *ngIf="s.title=='Instagram'"></i>

          </a>

        </div>

      </div>

      <!-- QUICK LINKS -->
      <div class="col-lg-2 col-md-6">

        <h5>Quick Links</h5>

        <ul>

          <li *ngFor="let link of footerData?.footerMenu">

            <a
              [routerLink]="link.route">

              {{link.title}}

            </a>

          </li>

        </ul>

      </div>

      <!-- SERVICES -->
      <div class="col-lg-3 col-md-6">

        <h5>Our Services</h5>

        <ul>

          <li *ngFor="let s of footerData?.services">

            <a
              [routerLink]="s.route">

              {{s.name}}

            </a>

          </li>

        </ul>

      </div>

      <!-- CONTACT -->
      <!-- CONTACT -->
<div class="col-lg-4 col-md-6">

  <h5>Contact Us</h5>

  <div class="footer-contact">

    <div class="contact-item">

      <i class="fa-solid fa-location-dot"></i>

      <div>

        <strong>Address</strong>

        <p>{{footerData?.address}}</p>

      </div>

    </div>

    <div class="contact-item">

      <i class="fa-solid fa-phone"></i>

      <div>

        <strong>Phone</strong>

        <p>{{footerData?.phone}}</p>

      </div>

    </div>

    <div class="contact-item">

      <i class="fa-solid fa-envelope"></i>

      <div>

        <strong>Email</strong>

        <p>{{footerData?.email}}</p>

      </div>

    </div>

    <div class="contact-item">

      <i class="fa-solid fa-clock"></i>

      <div>

        <strong>Working Hours</strong>

        <p>{{footerData?.workingHours}}</p>

      </div>

    </div>

  </div>

</div>

    </div>

    <hr>

    <div class="footer-bottom">

      <p>

        {{footerData?.copyRights}}

      </p>

      <div>

        <a href="#">Privacy Policy</a>

        <span>|</span>

        <a href="#">Terms & Conditions</a>

      </div>

    </div>

  </div>

</footer>