<section
  class="hero-section"
  [ngClass]="{
    'hero-home': showButtons,
    'hero-about': features.length > 0,
    'hero-standard': !showButtons && features.length === 0
  }">

  <img
    class="hero-bg"
    [src]="image"
    [alt]="title">

  <div class="hero-overlay"></div>

  <!-- ================= HOME ================= -->

  <div
    class="container hero-home-layout"
    *ngIf="showButtons">

    <div class="hero-left">

      <span class="hero-tag" *ngIf="tag">
        <span class="line"></span>
        {{ tag }}
      </span>

      <h1>{{ title }}</h1>

      <p>{{ description }}</p>

      <div class="hero-buttons">

        <button
          mat-raised-button
          color="primary"
          routerLink="/appointment/form">

          <mat-icon>calendar_month</mat-icon>

          Book Appointment

        </button>

        <button
          mat-stroked-button
          class="explore-btn"
          routerLink="/services">

          Explore Treatments

          <mat-icon>arrow_forward</mat-icon>

        </button>

      </div>

      <div class="hero-experience">

        <mat-icon>verified</mat-icon>

        <span>

          

          28+ Years of Trusted Dental Care

        </span>

      </div>

    </div>

    <div class="hero-right"></div>

  </div>

  <!-- ================= ABOUT ================= -->

  <div
    class="container hero-about-layout"
    *ngIf="!showButtons && features.length">

    <div class="hero-left">

      <span class="hero-tag">

        <span class="line"></span>

        {{ tag }}

      </span>

      <h1>{{ title }}</h1>

      <h3>{{ subtitle }}</h3>

      <p>{{ description }}</p>

      <div class="hero-features">

        <div
          class="hero-feature"
          *ngFor="let feature of features">

          <div class="feature-icon">

            <mat-icon>{{ feature.icon }}</mat-icon>

          </div>

          <h6>{{ feature.title }}</h6>

        </div>

      </div>

    </div>

  </div>

  <!-- ================= STANDARD ================= -->

 <!-- STANDARD -->
<div
  class="container hero-standard-layout"
  *ngIf="!showButtons && !features.length">

  <div class="hero-content">

    <h1>{{ title }}</h1>

    <div class="divider">

      <span></span>

      <mat-icon>spa</mat-icon>

      <span></span>

    </div>

    <h3 *ngIf="subtitle">

      {{ subtitle }}

    </h3>

    <p *ngIf="description">

      {{ description }}

    </p>

  </div>

</div>

  <!-- Curve -->

  <div class="hero-curve">

    <svg viewBox="0 0 1440 120" preserveAspectRatio="none">

      <path
        fill="var(--main-bg)"
        d="M0,32L80,42.7C160,53,320,75,480,80C640,85,800,75,960,64C1120,53,1280,43,1360,37.3L1440,32L1440,120L0,120Z">
      </path>

    </svg>

  </div>

</section>