
<!-- =======================================================
                    LATEST REVIEWS
======================================================= -->

<section class="patient-review-section">

    <div class="container">

        <div class="section-header">

            <span class="section-badge">

                Latest Reviews

            </span>

            <h2>

                What Our Patients Say

            </h2>

            <p>

                Genuine experiences shared by patients after visiting
                Maller Dental Clinic.

            </p>

        </div>



        <div class="reviews-grid">

            @for(review of reviews; track review.name){

            <article class="review-card">
                <div class="verified-badge">
    <i class="fa-solid fa-circle-check"></i>
    Verified Google Review
</div>

                <div class="review-top">

                    <div class="review-user">

                        <img
                            [src]="review.profilePhoto"
                            [alt]="review.name">

                        <div>

                            <h4>

                                {{review.name}}

                            </h4>

                            <span>

                                {{review.time}}

                            </span>

                        </div>

                    </div>

                    <img
                        class="google-small"
                        src="assets/images/reviewImg/google.png"
                        alt="Google">

                </div>



                



                <p class="review-content">

                    "{{review.review}}"

                </p>

            </article>

            }

        </div>



        <div class="review-footer">

            <a
                [href]="googleInfo.buttonLink"
                target="_blank"
                class="primary-btn">

                Read All Google Reviews

            </a>

        </div>

    </div>

</section>